<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENIZ :: Help your study</title>


    <!--bootstrap-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css?h=31c4140508b9b5ef50f02c4a1a41ae33">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">


    <!--default css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!--css-->
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/problem.css">
    <link rel="stylesheet" href="../assets/css/problem_list.css">

    <!--style-->
    <style>
        html, body {
            height: 100%;
            background: #dfdfdf no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #mainNav, .navbar-brand {
            color: #f05f40 !important;
        }

        #mainNav .navbar-nav > li.nav-item > a.nav-link {
            color: #ffffff;
        }

        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
            color: #c7c7c7 !important;
        }

        #mainNav {
            background: #222e50;
        }

        #mainNav, .navbar-shrink {
            border-bottom: 1px solid rgba(33, 37, 41, .1);
            background: #222e50;
        }

        #mainNav.navbar-shrink .navbar-brand, #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #ffffff;
        }

        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
            color: #ffffff
        }

        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover {
            color: #ffffff
        }
    </style>

    <!--google-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6355038287807476",
            enable_page_level_ads: true
        });
    </script>

    <!--js-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/search_box.js"></script>

    <script type="text/javascript">

        /*$(":input").select(function () {
            $("div").text("Something was selected").show().fadeOut(1000);
        });*/

    </script>
    <!--fonts-->
    <link rel="stylesheet" href="../assets/css/fonts.css">
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top navigation-clean-search" id="mainNav">
    <div class="container">
        <img src="../assets/img/logo.png" class="navbar-brand js-scroll-trigger" alt="" id="seniz_logo"
             onclick="location.href='/'">
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-align-justify"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <!--<form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field" autocomplete="off"></div>
                </form>-->
                <%
                if(sess.logged_in == true) {
                %>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                        ><%= sess.name %>님</a>
                    <li class="nav-item search_box_del" role="presentation"><a class="nav-link js-scroll-trigger"
                                                                               id="Search_" style="cursor: pointer">Search</a>
                    </li>
                    <form class="form-inline mr-auto dle" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field" autocomplete="off"><i id="search_close" class="fa fa-times" aria-hidden="true"></i></div>
                    </form>
                    </li>
                    <li class="nav-item search_box_del" role="presentation"><a class="nav-link js-scroll-trigger"
                                                                               href="logout">Logout</a></li>
                <%
                } else {
                %>

                    <form class="form-inline mr-auto dle" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field" autocomplete="off"><i id="search_close" class="fa fa-times" aria-hidden="true"></i></div>
                    </form>
                    <li class="nav-item search_box_del" role="presentation"><a class="nav-link js-scroll-trigger"
                                                                               id="Search_" style="cursor: pointer">Search</a>
                    </li>
                    <li class="nav-item search_box_del" role="presentation"><a class="nav-link js-scroll-trigger"
                                                                               href="login">Login</a>
                    </li>
                    <li class="nav-item search_box_del" role="presentation"><a class="nav-link js-scroll-trigger"
                                                                               href="register">Register</a></li>
                <%
                }
                %>
            </ul>
        </div>
    </div>
</nav>
<main id="main_background" class="page faq-page">
    <section class="clean-block clean-faq dark" style="height: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>

                <div class="col-lg-3">
                    <div id="list_top">
                        <div id="profile">
                            <div id="profile_img"
                                 style="background: url('../assets/img/only_logo.png') center center;"></div>
                            <div style="padding-top: 13px; margin-left: -30px;">
                                <span id="profile_name"><%= sess.name %></span><span
                                        id="profile_name_small">님의 문제 리스트</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-7">
                    <div id="top_text">
                        <p>
                            <span style="font-family: NanumSquareRoundR; font-size: 25px;">
                                최근 학습일 : </span>
                            <%= sess.date; %>
                            <!--<span>2019 <span-->
                            <!--style="font-family: NanumSquareRoundR; font-size: 25px;"> / </span> 01 <span-->
                                    <!--style="font-family: NanumSquareRoundR; font-size: 25px;"> / </span> 15</span>-->
                        </p>
                        <p style="margin-top: -20px;"><span style="font-family: NanumSquareRoundR; font-size: 25px;">총 세트 수 : </span><span><%= result.length; %></span><span
                                    style="font-family: NanumSquareRoundR; font-size: 25px;"> 개</span></p>
                    </div>

                    <div id="keyword_search">
                        <form action="">
                            <div class="input-group">
                                <label id="search_label" for="example-text-input" class="col-2 col-form-label">검
                                    색</label>
                                <input id="search" name="search" type="text" class="form-control"
                                       placeholder="키워드를 입력해주세요." autofocus>
                                <div class="input-group-btn">
                                    <button id="search_btn" class="btn btn-default" type="submit"
                                            style="background: #eb6f65; border-radius: 0;"><i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="register">
                        <button type="button" id="register_button" onclick="location.href='problem_register'">등록하러 가기</button>
                    </div>
                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-12">
                    <div id="my_list">
                        <%
                            var keynum = 0;
                            if(result.length == 0) {
                                %>
                            검색결과가 없습니다.
                        <%
                            } else {
                            for (var i = 0; i < result.length; i++) {
                                for(var j =0; j < result2.length; j++) {
                                    if(result2[j].book_num == result[i].id_num) {
                                        keynum += 1;
                                    }
                                }
                        %>
                            <div class="list_box" style="cursor:pointer;" onclick="location.href='/problem?book_num=<%= result[i].id_num; %>'">
                                <p class="box_in_number"><%= keynum; %> <span style="font-size: 20px; color: #000000">key</span></p>
                                <p class="box_in_title"><%= result[i].title; %></p>
                                <p class="box_in_subtitle"><%= result[i].sub_title; %></p>
                                <p class="box_in_name"><%= result[i].date %>, <%= sess.name %> 님 제작</p>
                            </div>
                            <br style="height: 10px;">
                        <%
                            keynum = 0;
                            }
                        }
                        %>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>

<script src=" https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="../assets/js/script.min.js?h=ba138a65066bb498534cb00f0d8520f5"></script>


</body>

</html>
